@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --primary: 273 89% 46%;
    --primary-foreground: 0 0% 98%;
  }

  .dark {
    --background: 0 0% 8%;
    --foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --card: 0 0% 11%;
    --card-foreground: 0 0% 98%;
  }
}
